<?xml version="1.0" encoding="UTF-8"?>
<!-- The bootstrap attribute below was changed from vendor/autoload.php to tests/bootstrap.php -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="aiTeacher Module Tests">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">./src</directory>
            <file>./moduleFunctions.php</file>
            <!-- Add other files or directories if needed -->
        </include>
    </source>
</phpunit>